.intro
	margin 0 auto
	padding 3rem 1rem 1.5rem 1rem
	background-color $gray
	background-image url('assets/bg.jpg')
	bacgkround-repeat no-repeat
	background-position center center
	background-size cover
	margin-bottom 3rem
	text-shadow 0 0 3px $bg
	.intro-inner
		padding 0 1rem
		max-width $column-width
		margin 3rem auto 1.5rem auto
		background-color rgba($bg, 0.4)

	&__hed
		padding-top 5rem
		font-weight bold
		margin 0
		set-type-size('xx-large', true)
		+mq('bp-2')
			set-type-size('xxx-large', true)		
	&__byline
		set-type-size('small', true)
	&__date 
		set-type-size('small', true)
		
	&__dek
		margin 0
		padding-top 1.5rem
		text-align left
		set-type-size('medium', true)
	
	&__info
		margin 0
		display flex
		justify-content space-between