.intro
	margin 0 auto
	padding 4rem 1rem 1.5rem 1rem
	max-width 40rem

	&__hed
		max-width 60rem
		margin 0 auto
		padding-top 5rem
		font-weight bold
		set-type-size('xx-large', true)
		+mq('bp-2')
			set-type-size('xxx-large', true)		
	&__byline
		set-type-size('small', true)
	&__date 
		set-type-size('small', true)
		
	&__dek
		max-width $column-width
		margin 0 auto
		padding-top 1.5rem
		text-align left
		set-type-size('medium', true)
	
	&__info
		display flex
		justify-content space-between

	img
		display none
		width 7.5rem
		// margin 0 auto
		float right
		+mq('bp-2')
			display inline