#scrolly-side .scrolly
	display flex
	max-width 60rem
	margin 3rem auto
	background-color $off-white
	padding 1rem

	& > *
		flex 1

	article
		padding-right 1rem
		max-width 30rem

		.step
			min-height 67vh
			margin-bottom 1rem
			background-color $gray-dark
			transition background-color 250ms ease-in-out
			&:last-of-type
				margin-bottom 0
			&.is-active
					background-color $secondary
			p
				margin 0
				padding 1rem
				text-align center
				font-weight 400
				color $off-white
				set-type-size(large)
				

	figure
		position sticky
		width 100%
		height 50vh
		background $gray
		margin 0
		top 25vh
		left 0
	
		.bar-outer
			position absolute
			top 50%
			left 5%
			transform translateY(-50%)
			width 90%
			height 4rem
			background-color $bg
		
		.bar-inner
			width 10%
			height 100%
			transition width 1s ease-in-out
			background-color $primary