/* CUSTOM STORY STYLE */
section
	margin 1.5rem auto

.prose
	code
		background-color $secondary
		color $bg
		font-family $mono
		padding 0.25em 0.5em
		font-size 0.8em
		font-weight 600
		border-radius 2px

#content
	padding-bottom 3rem

	pre
		display block
		margin 1.5rem auto
		max-width 38rem
		width 90%
		set-type-size(small)
