/* CUSTOM STORY STYLE */
.prose
	ul
		margin-left 1rem
		margin-bottom 1.5rem
	li
		line-height 1.7
		list-style disc
	
pre
	margin 1.5rem auto
	font-size 14px

code
	background-color #ddd
	font-family $mono
	padding 0.05em 0.5em
	font-size: 0.9em
	border-radius 2px

video
	border 2px solid #2a2a2a
	margin 3rem 0

.credit
	margin-bottom 3rem