/* CUSTOM STORY STYLE */
section
	margin 1.5rem auto

.prose
	code
		background-color $secondary
		color $bg
		font-family $mono
		padding 0.05em 0.5em
		font-size 0.8em
		border-radius 2px

#content pre
	display block
	margin 1.5rem auto
	max-width 38rem
	width 90%
	set-type-size(small)