<div class='snippet'>
	<pre><code>
	&lt;div class='scrolly'&gt;

		&lt;!-- sticky graphic --&gt;
		&lt;figure&gt;
			&lt;!-- chart stuff in here --&gt;
		&lt;/figure&gt;

		&lt;!-- step text --&gt;
		&lt;article&gt;
			&lt;div class='step'&gt;
				&lt;p&gt;Step text&lt;/p&gt;
			&lt;/div&gt;
			...
		&lt;/article&gt;

	&lt;/div&gt;
	</code></pre>
</div>
