<div class='scrolly tk-atlas'>
	
	<figure class='sticky'>
		<div class='bar-outer'>
			<div class='bar-inner'></div>
		</div>
	</figure>

	<article>
		<div class='step' data-width='10%' data-index='0'><p>Bar is 10%</p></div>
		<div class='step' data-width='90%' data-index='1'><p>Bar is 90%</p></div>
		<div class='step' data-width='50%' data-index='2'><p>Bar is 50%</p></div>
	</article>

</div>
